<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <form class="" action="/cadastro" method="post">
    <label for="">Nome:</label>
    <input type="text" name="descricao" value="">
    <input type="submit" value="Salvar">
  </form>
  
  <table border="1px">  
  	<tr>
  		<th>Código</th>
  		<th>Descrição</th>
  		<th>Excluir</th> 
  		<th>Editar</th> 		
  	</tr>
  	<tr th:each="p : ${produto}">
  		<td th:text=${p.id}>1</td>
  		<td th:text="${p.descricao}">Arroz</td>  	
  		<td><a class="btn btn-outline-danger" th:href="@{/delete/{id}(id=${p.id})}">Excluir</a></td>	
  		<td><a th:href="@{/editar/{id}(id=${p.id})}">Editar</a></td>
  	</tr>
  </table>
  </body>
</html>
