<!DOCTYPE html>
<html lang="en">
<head>
	<title>ADMINISTRADOR</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/EP.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					
				<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
       <th scope="col">Código do Livro</th>
      <th scope="col">Livro</th>
      <th scope="col">Autor</th>
      <th scope="col">Editora</th>     
      <th scope="col"></th> 
      <th scope="col"></th>
       
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td>Cinquenta tons de cinza</td>
      <td>Jayron</td>
      <td>Moderna</td>
      <td></td>    
      <td><button type="button" class="btn btn-outline-success">Editar</button>
      <button type="button" class="btn btn-outline-danger">Excluir</button></td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td></td>
      <td>A cabana</td>
      <td>Tahires</td>
      <td>Moderna</td>
      <td></td>   
      <td><button type="button" class="btn btn-outline-success">Editar</button>
      <button type="button" class="btn btn-outline-danger">Excluir</button></td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td></td>
      <td>Extraordinário</td>
      <td>Liedson</td>
      <td>Moderna</td>
      <td></td> 
      <td><button type="button" class="btn btn-outline-success">Editar</button>
      <button type="button" class="btn btn-outline-danger">Excluir</button></td>     
    </tr>
  </tbody>
</table>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>